In [3]:
import pandas as pd
import quandl

In [4]:
#get my quandl api key
import yaml
with open('/users/kevin/Documents/databases.yaml', 'r') as f:
        dbparams = yaml.load(f)

apikey = dbparams['Quandl']['apikey']

quandl.ApiConfig.api_key = apikey

In [11]:
# 2018 data for Cisco
data = quandl.get("WIKI/CSCO", start_date = '2018-01-01')

In [13]:
data

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-01-02,38.670,38.9500,38.4300,38.86,19972431.0,0.0,1.0,38.670,38.9500,38.4300,38.86,19972431.0
2018-01-03,38.720,39.2850,38.5300,39.17,29066090.0,0.0,1.0,38.720,39.2850,38.5300,39.17,29066090.0
2018-01-04,39.050,39.5400,38.9300,38.99,20606344.0,0.0,1.0,39.050,39.5400,38.9300,38.99,20606344.0
2018-01-05,39.550,39.8800,39.3650,39.53,24369510.0,0.0,1.0,39.550,39.8800,39.3650,39.53,24369510.0
2018-01-08,39.520,39.9600,39.3500,39.94,16511704.0,0.0,1.0,39.520,39.9600,39.3500,39.94,16511704.0
2018-01-09,39.790,39.9600,39.5400,39.69,21339760.0,0.0,1.0,39.790,39.9600,39.5400,39.69,21339760.0
2018-01-10,39.650,40.2400,39.6300,39.91,19110146.0,0.0,1.0,39.650,40.2400,39.6300,39.91,19110146.0
2018-01-11,40.140,40.2100,39.7500,40.10,20178596.0,0.0,1.0,40.140,40.2100,39.7500,40.10,20178596.0
2018-01-12,40.220,40.9300,40.0500,40.87,22962700.0,0.0,1.0,40.220,40.9300,40.0500,40.87,22962700.0
2018-01-16,40.900,41.1600,40.3200,40.54,32273879.0,0.0,1.0,40.900,41.1600,40.3200,40.54,32273879.0
2018-01-17,40.840,41.3200,40.7050,41.20,23612126.0,0.0,1.0,40.840,41.3200,40.7050,41.20,23612126.0
2018-01-18,41.240,41.4800,41.0300,41.30,17450956.0,0.0,1.0,41.240,41.4800,41.0300,41.30,17450956.0
2018-01-19,41.280,41.5200,41.1000,41.29,23554383.0,0.0,1.0,41.280,41.5200,41.1000,41.29,23554383.0
2018-01-22,41.200,41.6600,41.0200,41.66,21794682.0,0.0,1.0,41.200,41.6600,41.0200,41.66,21794682.0
2018-01-23,41.540,42.1300,41.5400,42.10,21069503.0,0.0,1.0,41.540,42.1300,41.5400,42.10,21069503.0
2018-01-24,42.200,42.6850,42.0100,42.17,25739984.0,0.0,1.0,42.200,42.6850,42.0100,42.17,25739984.0
2018-01-25,42.270,42.4700,41.8200,41.90,18610206.0,0.0,1.0,42.270,42.4700,41.8200,41.90,18610206.0
2018-01-26,42.150,42.5600,41.9500,42.56,22637421.0,0.0,1.0,42.150,42.5600,41.9500,42.56,22637421.0
2018-01-29,42.300,42.9800,42.3000,42.85,23053104.0,0.0,1.0,42.300,42.9800,42.3000,42.85,23053104.0
2018-01-30,42.685,42.8600,41.9700,42.25,25671649.0,0.0,1.0,42.685,42.8600,41.9700,42.25,25671649.0
2018-01-31,41.980,42.0100,41.3500,41.54,34571282.0,0.0,1.0,41.980,42.0100,41.3500,41.54,34571282.0
2018-02-01,41.090,42.1100,40.6700,41.70,26001606.0,0.0,1.0,41.090,42.1100,40.6700,41.70,26001606.0
2018-02-02,41.500,41.9500,40.8700,40.93,25920378.0,0.0,1.0,41.500,41.9500,40.8700,40.93,25920378.0
2018-02-05,40.870,41.4050,39.0800,39.09,39491216.0,0.0,1.0,40.870,41.4050,39.0800,39.09,39491216.0
2018-02-06,38.330,40.3050,37.3500,40.17,52940550.0,0.0,1.0,38.330,40.3050,37.3500,40.17,52940550.0
2018-02-07,40.310,41.2060,40.0300,40.34,31841942.0,0.0,1.0,40.310,41.2060,40.0300,40.34,31841942.0
2018-02-08,40.440,40.7600,38.7200,38.73,39300118.0,0.0,1.0,40.440,40.7600,38.7200,38.73,39300118.0
2018-02-09,39.000,39.9200,38.2300,39.51,47947702.0,0.0,1.0,39.000,39.9200,38.2300,39.51,47947702.0
2018-02-12,40.515,40.9100,40.2250,40.60,37320696.0,0.0,1.0,40.515,40.9100,40.2250,40.60,37320696.0
2018-02-13,40.500,41.3100,40.2200,41.23,29220084.0,0.0,1.0,40.500,41.3100,40.2200,41.23,29220084.0
2018-02-14,41.040,42.2600,40.9900,42.09,39880261.0,0.0,1.0,41.040,42.2600,40.9900,42.09,39880261.0
2018-02-15,45.065,45.1300,43.2600,44.08,71490591.0,0.0,1.0,45.065,45.1300,43.2600,44.08,71490591.0
2018-02-16,43.885,45.0900,43.7900,44.33,37915915.0,0.0,1.0,43.885,45.0900,43.7900,44.33,37915915.0
2018-02-20,44.000,44.6900,43.8100,44.06,26258211.0,0.0,1.0,44.000,44.6900,43.8100,44.06,26258211.0
2018-02-21,44.110,44.4200,43.2800,43.31,27128222.0,0.0,1.0,44.110,44.4200,43.2800,43.31,27128222.0
2018-02-22,43.490,43.5600,42.7500,42.94,25627449.0,0.0,1.0,43.490,43.5600,42.7500,42.94,25627449.0
2018-02-23,43.370,44.0400,42.9200,44.00,24855689.0,0.0,1.0,43.370,44.0400,42.9200,44.00,24855689.0
2018-02-26,44.300,45.4500,44.1300,45.36,27226705.0,0.0,1.0,44.300,45.4500,44.1300,45.36,27226705.0
2018-02-27,45.410,45.6100,44.6200,45.04,26887782.0,0.0,1.0,45.410,45.6100,44.6200,45.04,26887782.0
2018-02-28,45.270,45.8900,44.7800,44.78,26346609.0,0.0,1.0,45.270,45.8900,44.7800,44.78,26346609.0
2018-03-01,44.680,45.0000,43.3500,43.80,32154328.0,0.0,1.0,44.680,45.0000,43.3500,43.80,32154328.0
2018-03-02,43.290,44.2200,43.1000,44.06,28848064.0,0.0,1.0,43.290,44.2200,43.1000,44.06,28848064.0
2018-03-05,43.920,44.7650,43.7000,44.52,22101667.0,0.0,1.0,43.920,44.7650,43.7000,44.52,22101667.0
2018-03-06,44.650,44.7850,44.1350,44.29,21929955.0,0.0,1.0,44.650,44.7850,44.1350,44.29,21929955.0
2018-03-07,44.030,44.3900,43.8000,44.20,22034446.0,0.0,1.0,44.030,44.3900,43.8000,44.20,22034446.0
2018-03-08,44.250,44.4100,43.9350,44.34,19677672.0,0.0,1.0,44.250,44.4100,43.9350,44.34,19677672.0
2018-03-09,44.620,45.5400,44.6100,45.37,21633413.0,0.0,1.0,44.620,45.5400,44.6100,45.37,21633413.0
2018-03-12,45.530,45.8700,45.4000,45.55,17458907.0,0.0,1.0,45.530,45.8700,45.4000,45.55,17458907.0
2018-03-13,45.780,46.1600,44.9200,45.16,23081229.0,0.0,1.0,45.780,46.1600,44.9200,45.16,23081229.0
2018-03-14,45.340,45.7587,45.0900,45.28,20923845.0,0.0,1.0,45.340,45.7587,45.0900,45.28,20923845.0
2018-03-15,45.300,45.7350,45.1200,45.33,23338222.0,0.0,1.0,45.300,45.7350,45.1200,45.33,23338222.0
2018-03-16,45.330,45.6000,44.9700,45.01,52355707.0,0.0,1.0,45.330,45.6000,44.9700,45.01,52355707.0
2018-03-19,44.590,44.8200,43.9000,44.27,24524286.0,0.0,1.0,44.590,44.8200,43.9000,44.27,24524286.0
2018-03-20,44.490,44.6400,44.1800,44.37,22385001.0,0.0,1.0,44.490,44.6400,44.1800,44.37,22385001.0
2018-03-21,44.240,44.9000,44.1331,44.31,20616375.0,0.0,1.0,44.240,44.9000,44.1331,44.31,20616375.0
2018-03-22,43.760,44.0200,43.0200,43.07,29374734.0,0.0,1.0,43.760,44.0200,43.0200,43.07,29374734.0
2018-03-23,43.710,43.8400,42.4200,42.42,30674112.0,0.0,1.0,43.710,43.8400,42.4200,42.42,30674112.0
2018-03-26,43.250,44.1600,42.8300,44.06,28454954.0,0.0,1.0,43.250,44.1600,42.8300,44.06,28454954.0
2018-03-27,44.490,44.5200,42.2400,42.68,30088447.0,0.0,1.0,44.490,44.5200,42.2400,42.68,30088447.0

In [14]:
#list of dow companies from https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average 
dow_companies = ['MMM','AXP', 'AAPL','BA','CAT',
                 'CVX','CSCO','KO','DWDP','XOM',
                 'GS','HD','IBM','INTC','JNJ','JPM',
                 'MCD','MRK','MSFT','NKE','PFE',
                 'PG','TRV','UNH','UTX','VZ','V',
                 'WMT','WBA','DIS']

In [15]:
len(dow_companies)

30

In [16]:
#get the data for the first 3 dow companies:

cols = ['Open','High','Low','Close','Volume']
dow_data = {x:quandl.get('WIKI/'+x, start_date = '2018-01-01')[cols] for x in dow_companies[0:3]}

In [17]:
dow_data.keys()

dict_keys(['MMM', 'AXP', 'AAPL'])

In [18]:
dow_data['AAPL']

               Open      High       Low    Close      Volume
Date
2018-01-02  170.160  172.3000  169.2600  172.260  25048048.0
2018-01-03  172.530  174.5500  171.9600  172.230  28819653.0
2018-01-04  172.540  173.4700  172.0800  173.030  22211345.0
2018-01-05  173.440  175.3700  173.0500  175.000  23016177.0
2018-01-08  174.350  175.6100  173.9300  174.350  20134092.0
2018-01-09  174.550  175.0600  173.4100  174.330  21262614.0
2018-01-10  173.160  174.3000  173.0000  174.290  23589129.0
2018-01-11  174.590  175.4886  174.4900  175.280  17523256.0
2018-01-12  176.180  177.3600  175.6500  177.090  25039531.0
2018-01-16  177.900  179.3900  176.1400  176.190  29159005.0
2018-01-17  176.150  179.2500  175.0700  179.100  32752734.0
2018-01-18  179.370  180.1000  178.2500  179.260  30234512.0
2018-01-19  178.610  179.5800  177.4100  178.460  30827809.0
2018-01-22  177.300  177.7800  176.6016  177.000  26023683.0
2018-01-23  177.300  179.4400  176.8200  177.040  31702531.0
2018-01-24  177.250  177.3000  173.2000  174.220  50562257.0
2018-01-25  174.505  174.9500  170.5300  171.110  39661804.0
2018-01-26  172.000  172.0000  170.0600  171.510  37121805.0
2018-01-29  170.160  170.1600  167.0700  167.960  48434424.0
2018-01-30  165.525  167.3700  164.7000  166.970  45137026.0
2018-01-31  166.870  168.4417  166.5000  167.430  30984099.0
2018-02-01  167.165  168.6200  166.7600  167.780  38099665.0
2018-02-02  166.000  166.8000  160.1000  160.370  85436075.0
2018-02-05  159.100  163.8800  156.0000  157.490  66090446.0
2018-02-06  154.830  163.7200  154.0000  163.030  66625484.0
2018-02-07  163.085  163.4000  159.0685  159.540  50852130.0
2018-02-08  160.290  161.0000  155.0300  155.320  49594129.0
2018-02-09  157.070  157.8900  150.2400  155.970  66723743.0
2018-02-12  158.500  163.8900  157.5100  162.710  60560145.0
2018-02-13  161.950  164.7500  161.6500  164.340  32104756.0
2018-02-14  163.045  167.5400  162.8800  167.370  39669178.0
2018-02-15  169.790  173.0900  169.0000  172.990  50609595.0
2018-02-16  172.360  174.8200  171.7700  172.430  39638793.0
2018-02-20  172.050  174.2600  171.4200  171.850  33531012.0
2018-02-21  172.830  174.1200  171.0100  171.070  35833514.0
2018-02-22  171.800  173.9500  171.7100  172.600  30504116.0
2018-02-23  173.670  175.6500  173.5400  175.555  33329232.0
2018-02-26  176.350  179.3900  176.2100  178.970  36886432.0
2018-02-27  179.100  180.4800  178.1600  178.390  38685165.0
2018-02-28  179.260  180.6150  178.0500  178.120  33604574.0
2018-03-01  178.540  179.7750  172.6600  175.000  48801970.0
2018-03-02  172.800  176.3000  172.4500  176.210  38453950.0
2018-03-05  175.210  177.7400  174.5200  176.820  28401366.0
2018-03-06  177.910  178.2500  176.1300  176.670  23788506.0
2018-03-07  174.940  175.8500  174.2700  175.030  31703462.0
2018-03-08  175.480  177.1200  175.0700  176.940  23163767.0
2018-03-09  177.960  180.0000  177.3900  179.980  31385134.0
2018-03-12  180.290  182.3900  180.2100  181.720  32055405.0
2018-03-13  182.590  183.5000  179.2400  179.970  31168404.0
2018-03-14  180.320  180.5200  177.8100  178.440  29075469.0
2018-03-15  178.500  180.2400  178.0701  178.650  22584565.0
2018-03-16  178.650  179.1200  177.6200  178.020  36836456.0
2018-03-19  177.320  177.4700  173.6600  175.300  32804695.0
2018-03-20  175.240  176.8000  174.9400  175.240  19314039.0
2018-03-21  175.040  175.0900  171.2600  171.270  35247358.0
2018-03-22  170.000  172.6800  168.6000  168.845  41051076.0
2018-03-23  168.390  169.9200  164.9400  164.940  40248954.0
2018-03-26  168.070  173.1000  166.4400  172.770  36272617.0
2018-03-27  173.680  175.1500  166.9200  168.340  38962839.0

In [19]:
#9-day trailing moving average
dow_data['AAPL'].rolling(window= 9, center=False).mean()

                  Open        High         Low       Close        Volume
Date
2018-01-02         NaN         NaN         NaN         NaN           NaN
2018-01-03         NaN         NaN         NaN         NaN           NaN
2018-01-04         NaN         NaN         NaN         NaN           NaN
2018-01-05         NaN         NaN         NaN         NaN           NaN
2018-01-08         NaN         NaN         NaN         NaN           NaN
2018-01-09         NaN         NaN         NaN         NaN           NaN
2018-01-10         NaN         NaN         NaN         NaN           NaN
2018-01-11         NaN         NaN         NaN         NaN           NaN
2018-01-12  173.500000  174.834289  172.981111  174.206667  2.296043e+07
2018-01-16  174.360000  175.622067  173.745556  174.643333  2.341720e+07
2018-01-17  174.762222  176.144289  174.091111  175.406667  2.385421e+07
2018-01-18  175.521111  176.880956  174.776667  176.098889  2.474567e+07
2018-01-19  176.095556  177.348733  175.261111  176.483333  2.561363e+07
2018-01-22  176.423333  177.589844  175.557956  176.777778  2.626803e+07
2018-01-23  176.728889  178.076511  175.936844  177.078889  2.742802e+07
2018-01-24  177.183333  178.409844  175.959067  177.071111  3.042504e+07
2018-01-25  177.173889  178.350000  175.519067  176.607778  3.288487e+07
2018-01-26  176.709444  177.754444  174.897956  175.987778  3.422735e+07
2018-01-29  175.849444  176.728889  173.890178  175.073333  3.636906e+07
2018-01-30  174.668889  175.408889  172.737956  173.725556  3.774509e+07
2018-01-31  173.280000  174.113522  171.432400  172.411111  3.782838e+07
2018-02-01  172.008333  172.895744  170.249067  171.224444  3.863637e+07
2018-02-02  170.752778  171.675744  168.415556  169.376667  4.523774e+07
2018-02-05  168.730556  169.946856  166.102222  167.204444  4.905862e+07
2018-02-06  166.239444  168.437967  163.968889  165.961111  5.084343e+07
2018-02-07  164.970556  167.154633  162.695389  164.675556  5.208679e+07
2018-02-08  163.669444  165.932411  161.025389  162.876667  5.347261e+07
2018-02-09  162.215000  164.569078  159.155389  161.544444  5.550476e+07
2018-02-12  161.434444  164.182411  158.356500  161.071111  5.721844e+07
2018-02-13  160.887778  163.772222  157.817611  160.727778  5.734295e+07
2018-02-14  160.430000  163.652222  157.386500  160.682222  5.751734e+07
2018-02-15  160.851111  164.351111  158.375389  162.084444  5.364773e+07
2018-02-16  162.324444  165.566667  160.127611  163.744444  5.070866e+07
2018-02-20  164.237778  166.737778  162.063167  164.724444  4.703150e+07
2018-02-21  165.320556  167.928889  163.390000  166.005556  4.536276e+07
2018-02-22  166.599444  169.367778  165.243333  167.925556  4.324165e+07
2018-02-23  168.443889  171.341111  167.832222  170.101667  3.953115e+07
2018-02-26  170.427222  173.063333  169.910000  171.908333  3.690074e+07
2018-02-27  172.332778  174.811111  171.744444  173.469444  3.763189e+07
2018-02-28  174.134444  176.263889  173.430000  174.663889  3.695805e+07
2018-03-01  175.106667  177.006667  173.836667  174.887222  3.675720e+07
2018-03-02  175.155556  177.171111  173.912222  175.307222  3.662555e+07
2018-03-05  175.506667  177.557778  174.256667  175.859444  3.605559e+07
2018-03-06  176.071111  178.016667  174.825556  176.481667  3.471726e+07
2018-03-07  176.420000  178.227778  175.110000  176.751667  3.485052e+07
2018-03-08  176.621111  178.391111  175.280000  176.905556  3.372102e+07
2018-03-09  176.800000  178.458889  175.411111  177.017778  3.310977e+07
2018-03-12  176.932222  178.671111  175.638889  177.387778  3.237313e+07
2018-03-13  177.302222  178.991667  175.771111  177.593333  3.210244e+07
2018-03-14  177.500000  179.074444  176.343333  177.975556  2.991061e+07
2018-03-15  178.133333  179.512222  176.967789  178.246667  2.814734e+07
2018-03-16  178.515556  179.665556  177.312233  178.380000  2.908457e+07
2018-03-19  178.450000  179.578889  177.037789  178.227778  3.008637e+07
2018-03-20  178.483333  179.684444  177.112233  178.251111  2.870977e+07
2018-03-21  178.434444  179.458889  176.688900  177.621111  3.005239e+07
2018-03-22  177.550000  178.645556  175.712233  176.383889  3.112639e+07
2018-03-23  176.227778  177.260000  174.015567  174.519444  3.203678e+07
2018-03-26  174.614444  176.104444  172.593344  173.719444  3.260391e+07
2018-03-27  173.876667  175.507778  171.383344  172.597222  3.370251e+07