# Data Wrangler for Neural Net Stock Price Problem

This notebook contains scripts that retrieve stock price data, computes a data frame with the necessary transformations and writes the dataframe to a `.csv` file.
This `.csv` file is the tidy data set that we'll use in the Stock Price Neural Network problem.

## Getting started

The organization Quandl supplies financial and economic data in several easy-to-consume formats for free. We'll get our stock price data from Quandl. To do so, first, you'll need the `quandl` python package. Get this via the following:
```pip install quandl```.

In [1]:
import pandas as pd
import quandl
import numpy as np

Next, you'll need a quandl API key, which you can obtain from [Quandl](https://docs.quandl.com/docs#section-authentication). Once you have your key, put it in a YAML file under Quandl with key 'apikey' or just replace the 'YourQuandlAPIKey' string with yours and comment out the yaml code.

In [2]:
#get my quandl api key
import yaml

#comment out the next three lines if just supply your apikey
with open('./databases.yaml', 'r') as f:
        dbparams = yaml.load(f)
apikey = dbparams['Quandl']['apikey']

#comment out three lines above if you use this
#apikey = 'YourQuandlAPIKey'

quandl.ApiConfig.api_key = apikey

## Data from Quandl

In [3]:
# 2018 data for Cisco
data = quandl.get("WIKI/CSCO", start_date = '2018-01-01')

In [23]:
data.tail(10)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-14,45.34,45.7587,45.0900,45.28,20923845.0,0.0,1.0,45.34,45.7587,45.0900,45.28,20923845.0
2018-03-15,45.30,45.7350,45.1200,45.33,23338222.0,0.0,1.0,45.30,45.7350,45.1200,45.33,23338222.0
2018-03-16,45.33,45.6000,44.9700,45.01,52355707.0,0.0,1.0,45.33,45.6000,44.9700,45.01,52355707.0
2018-03-19,44.59,44.8200,43.9000,44.27,24524286.0,0.0,1.0,44.59,44.8200,43.9000,44.27,24524286.0
2018-03-20,44.49,44.6400,44.1800,44.37,22385001.0,0.0,1.0,44.49,44.6400,44.1800,44.37,22385001.0
2018-03-21,44.24,44.9000,44.1331,44.31,20616375.0,0.0,1.0,44.24,44.9000,44.1331,44.31,20616375.0
2018-03-22,43.76,44.0200,43.0200,43.07,29374734.0,0.0,1.0,43.76,44.0200,43.0200,43.07,29374734.0
2018-03-23,43.71,43.8400,42.4200,42.42,30674112.0,0.0,1.0,43.71,43.8400,42.4200,42.42,30674112.0
2018-03-26,43.25,44.1600,42.8300,44.06,28454954.0,0.0,1.0,43.25,44.1600,42.8300,44.06,28454954.0
2018-03-27,44.49,44.5200,42.2400,42.68,30088447.0,0.0,1.0,44.49,44.5200,42.2400,42.68,30088447.0

In [5]:
#list of dow companies from https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average 
dow_companies = ['MMM','AXP', 'AAPL','BA','CAT',
                 'CVX','CSCO','KO','DWDP','XOM',
                 'GS','HD','IBM','INTC','JNJ','JPM',
                 'MCD','MRK','MSFT','NKE','PFE',
                 'PG','TRV','UNH','UTX','VZ','V',
                 'WMT','WBA','DIS']

In [6]:
len(dow_companies)

30

## Calcuate Moving Averages and Buy and Sell Signals

In [7]:
#get the data for the first 3 dow companies:

cols = ['Open','High','Low','Close','Volume']
company = 'CSCO' #Cisco Systems Inc
dow_data = quandl.get('WIKI/'+company, start_date = '2018-01-01')[cols]

In [8]:
dow_data.keys()

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [9]:
dow_data.tail()

             Open   High      Low  Close      Volume
Date
2018-03-21  44.24  44.90  44.1331  44.31  20616375.0
2018-03-22  43.76  44.02  43.0200  43.07  29374734.0
2018-03-23  43.71  43.84  42.4200  42.42  30674112.0
2018-03-26  43.25  44.16  42.8300  44.06  28454954.0
2018-03-27  44.49  44.52  42.2400  42.68  30088447.0

In [10]:
# calculate the moving averages just on the closing price
#9-day trailing moving average
MA9 =  dow_data[['Close']].rolling(window= 9, center=False).mean().rename(columns={'Close':'MA9'})
MA18 = dow_data[['Close']].rolling(window=18, center=False).mean().rename(columns={'Close':'MA18'})

In [11]:
# paste the moving averages onto the right side of the dataframe
dow_data = dow_data.merge(MA9,  how='left', left_index=True, right_index=True)
dow_data = dow_data.merge(MA18, how='left', left_index=True, right_index=True)

#ditch the rows with NAs due to the trailing moving averages
dow_data.dropna(axis=0,inplace=True)

In [12]:
dow_data

              Open     High      Low  Close      Volume        MA9       MA18
Date
2018-01-26  42.150  42.5600  41.9500  42.56  22637421.0  41.635556  40.654444
2018-01-29  42.300  42.9800  42.3000  42.85  23053104.0  41.892222  40.876111
2018-01-30  42.685  42.8600  41.9700  42.25  25671649.0  42.008889  41.047222
2018-01-31  41.980  42.0100  41.3500  41.54  34571282.0  42.035556  41.188889
2018-02-01  41.090  42.1100  40.6700  41.70  26001606.0  42.081111  41.309444
2018-02-02  41.500  41.9500  40.8700  40.93  25920378.0  42.000000  41.364444
2018-02-05  40.870  41.4050  39.0800  39.09  39491216.0  41.665556  41.331111
2018-02-06  38.330  40.3050  37.3500  40.17  52940550.0  41.443333  41.345556
2018-02-07  40.310  41.2060  40.0300  40.34  31841942.0  41.270000  41.358889
2018-02-08  40.440  40.7600  38.7200  38.73  39300118.0  40.844444  41.240000
2018-02-09  39.000  39.9200  38.2300  39.51  47947702.0  40.473333  41.182778
2018-02-12  40.515  40.9100  40.2250  40.60  37320696.0  40.290000  41.149444
2018-02-13  40.500  41.3100  40.2200  41.23  29220084.0  40.255556  41.145556
2018-02-14  41.040  42.2600  40.9900  42.09  39880261.0  40.298889  41.190000
2018-02-15  45.065  45.1300  43.2600  44.08  71490591.0  40.648889  41.324444
2018-02-16  43.885  45.0900  43.7900  44.33  37915915.0  41.231111  41.448333
2018-02-20  44.000  44.6900  43.8100  44.06  26258211.0  41.663333  41.553333
2018-02-21  44.110  44.4200  43.2800  43.31  27128222.0  41.993333  41.631667
2018-02-22  43.490  43.5600  42.7500  42.94  25627449.0  42.461111  41.652778
2018-02-23  43.370  44.0400  42.9200  44.00  24855689.0  42.960000  41.716667
2018-02-26  44.300  45.4500  44.1300  45.36  27226705.0  43.488889  41.889444
2018-02-27  45.410  45.6100  44.6200  45.04  26887782.0  43.912222  42.083889
2018-02-28  45.270  45.8900  44.7800  44.78  26346609.0  44.211111  42.255000
2018-03-01  44.680  45.0000  43.3500  43.80  32154328.0  44.180000  42.414444
2018-03-02  43.290  44.2200  43.1000  44.06  28848064.0  44.150000  42.690556
2018-03-05  43.920  44.7650  43.7000  44.52  22101667.0  44.201111  42.932222
2018-03-06  44.650  44.7850  44.1350  44.29  21929955.0  44.310000  43.151667
2018-03-07  44.030  44.3900  43.8000  44.20  22034446.0  44.450000  43.455556
2018-03-08  44.250  44.4100  43.9350  44.34  19677672.0  44.487778  43.723889
2018-03-09  44.620  45.5400  44.6100  45.37  21633413.0  44.488889  43.988889
2018-03-12  45.530  45.8700  45.4000  45.55  17458907.0  44.545556  44.228889
2018-03-13  45.780  46.1600  44.9200  45.16  23081229.0  44.587778  44.399444
2018-03-14  45.340  45.7587  45.0900  45.28  20923845.0  44.752222  44.466111
2018-03-15  45.300  45.7350  45.1200  45.33  23338222.0  44.893333  44.521667
2018-03-16  45.330  45.6000  44.9700  45.01  52355707.0  44.947778  44.574444
2018-03-19  44.590  44.8200  43.9000  44.27  24524286.0  44.945556  44.627778
2018-03-20  44.490  44.6400  44.1800  44.37  22385001.0  44.964444  44.707222
2018-03-21  44.240  44.9000  44.1331  44.31  20616375.0  44.961111  44.724444
2018-03-22  43.760  44.0200  43.0200  43.07  29374734.0  44.705556  44.597222
2018-03-23  43.710  43.8400  42.4200  42.42  30674112.0  44.357778  44.451667
2018-03-26  43.250  44.1600  42.8300  44.06  28454954.0  44.235556  44.411667
2018-03-27  44.490  44.5200  42.2400  42.68  30088447.0  43.946667  44.349444

In [13]:
# is the fast moving average (MA9) greater then the slow moving average (MA18)?
dow_data['f_gtr_s'] = (dow_data.MA9 > dow_data.MA18)*1 # need these as ints

In [14]:
dow_data

,Open,High,Low,Close,Volume,MA9,MA18,f_gtr_s
Date,,,,,,,,
2018-01-26,42.150,42.5600,41.9500,42.56,22637421.0,41.635556,40.654444,1
2018-01-29,42.300,42.9800,42.3000,42.85,23053104.0,41.892222,40.876111,1
2018-01-30,42.685,42.8600,41.9700,42.25,25671649.0,42.008889,41.047222,1
2018-01-31,41.980,42.0100,41.3500,41.54,34571282.0,42.035556,41.188889,1
2018-02-01,41.090,42.1100,40.6700,41.70,26001606.0,42.081111,41.309444,1
2018-02-02,41.500,41.9500,40.8700,40.93,25920378.0,42.000000,41.364444,1
2018-02-05,40.870,41.4050,39.0800,39.09,39491216.0,41.665556,41.331111,1
2018-02-06,38.330,40.3050,37.3500,40.17,52940550.0,41.443333,41.345556,1
2018-02-07,40.310,41.2060,40.0300,40.34,31841942.0,41.270000,41.358889,0
2018-02-08,40.440,40.7600,38.7200,38.73,39300118.0,40.844444,41.240000,0
2018-02-09,39.000,39.9200,38.2300,39.51,47947702.0,40.473333,41.182778,0
2018-02-12,40.515,40.9100,40.2250,40.60,37320696.0,40.290000,41.149444,0
2018-02-13,40.500,41.3100,40.2200,41.23,29220084.0,40.255556,41.145556,0
2018-02-14,41.040,42.2600,40.9900,42.09,39880261.0,40.298889,41.190000,0
2018-02-15,45.065,45.1300,43.2600,44.08,71490591.0,40.648889,41.324444,0
2018-02-16,43.885,45.0900,43.7900,44.33,37915915.0,41.231111,41.448333,0
2018-02-20,44.000,44.6900,43.8100,44.06,26258211.0,41.663333,41.553333,1
2018-02-21,44.110,44.4200,43.2800,43.31,27128222.0,41.993333,41.631667,1
2018-02-22,43.490,43.5600,42.7500,42.94,25627449.0,42.461111,41.652778,1
2018-02-23,43.370,44.0400,42.9200,44.00,24855689.0,42.960000,41.716667,1
2018-02-26,44.300,45.4500,44.1300,45.36,27226705.0,43.488889,41.889444,1
2018-02-27,45.410,45.6100,44.6200,45.04,26887782.0,43.912222,42.083889,1
2018-02-28,45.270,45.8900,44.7800,44.78,26346609.0,44.211111,42.255000,1
2018-03-01,44.680,45.0000,43.3500,43.80,32154328.0,44.180000,42.414444,1
2018-03-02,43.290,44.2200,43.1000,44.06,28848064.0,44.150000,42.690556,1
2018-03-05,43.920,44.7650,43.7000,44.52,22101667.0,44.201111,42.932222,1
2018-03-06,44.650,44.7850,44.1350,44.29,21929955.0,44.310000,43.151667,1
2018-03-07,44.030,44.3900,43.8000,44.20,22034446.0,44.450000,43.455556,1
2018-03-08,44.250,44.4100,43.9350,44.34,19677672.0,44.487778,43.723889,1
2018-03-09,44.620,45.5400,44.6100,45.37,21633413.0,44.488889,43.988889,1
2018-03-12,45.530,45.8700,45.4000,45.55,17458907.0,44.545556,44.228889,1
2018-03-13,45.780,46.1600,44.9200,45.16,23081229.0,44.587778,44.399444,1
2018-03-14,45.340,45.7587,45.0900,45.28,20923845.0,44.752222,44.466111,1
2018-03-15,45.300,45.7350,45.1200,45.33,23338222.0,44.893333,44.521667,1
2018-03-16,45.330,45.6000,44.9700,45.01,52355707.0,44.947778,44.574444,1
2018-03-19,44.590,44.8200,43.9000,44.27,24524286.0,44.945556,44.627778,1
2018-03-20,44.490,44.6400,44.1800,44.37,22385001.0,44.964444,44.707222,1
2018-03-21,44.240,44.9000,44.1331,44.31,20616375.0,44.961111,44.724444,1
2018-03-22,43.760,44.0200,43.0200,43.07,29374734.0,44.705556,44.597222,1
2018-03-23,43.710,43.8400,42.4200,42.42,30674112.0,44.357778,44.451667,0
2018-03-26,43.250,44.1600,42.8300,44.06,28454954.0,44.235556,44.411667,0
2018-03-27,44.490,44.5200,42.2400,42.68,30088447.0,43.946667,44.349444,0

In [15]:
# find the transition points by comparing consecutive days
# first, add column that is the lagged MA comparison (lagged by one day)
dow_data['f_gtr_s_lag1'] = np.roll(dow_data.f_gtr_s,1)
# use boolean arithmetic to see the change points
dow_data['Crossover'] = dow_data.f_gtr_s - dow_data.f_gtr_s_lag1

In the table below, a Crossover value of 1 indicates a row (a date) on which 9-day moving average transitioned from being less than the 18-day moving average to being greater than the 18-day moving average.
Conversely, a crossover value of -1 indicates a date on which the 9-day moving average transitioned from being greater than the 18-day moving average to being less than the 18-day moving averages.
***A Crossover value of 1 is a BUY signal; a Crossover value of -1 is a SELL signal***

***Beware: I think the way this data is calculated, the first row will __always__ be a buy signal because of NA's in the moving average calculations and the way python handles NAs in comparison operations.  Need to look at this further ***

In [16]:
dow_data

,Open,High,Low,Close,Volume,MA9,MA18,f_gtr_s,f_gtr_s_lag1,Crossover
Date,,,,,,,,,,
2018-01-26,42.150,42.5600,41.9500,42.56,22637421.0,41.635556,40.654444,1,0,1
2018-01-29,42.300,42.9800,42.3000,42.85,23053104.0,41.892222,40.876111,1,1,0
2018-01-30,42.685,42.8600,41.9700,42.25,25671649.0,42.008889,41.047222,1,1,0
2018-01-31,41.980,42.0100,41.3500,41.54,34571282.0,42.035556,41.188889,1,1,0
2018-02-01,41.090,42.1100,40.6700,41.70,26001606.0,42.081111,41.309444,1,1,0
2018-02-02,41.500,41.9500,40.8700,40.93,25920378.0,42.000000,41.364444,1,1,0
2018-02-05,40.870,41.4050,39.0800,39.09,39491216.0,41.665556,41.331111,1,1,0
2018-02-06,38.330,40.3050,37.3500,40.17,52940550.0,41.443333,41.345556,1,1,0
2018-02-07,40.310,41.2060,40.0300,40.34,31841942.0,41.270000,41.358889,0,1,-1
2018-02-08,40.440,40.7600,38.7200,38.73,39300118.0,40.844444,41.240000,0,0,0
2018-02-09,39.000,39.9200,38.2300,39.51,47947702.0,40.473333,41.182778,0,0,0
2018-02-12,40.515,40.9100,40.2250,40.60,37320696.0,40.290000,41.149444,0,0,0
2018-02-13,40.500,41.3100,40.2200,41.23,29220084.0,40.255556,41.145556,0,0,0
2018-02-14,41.040,42.2600,40.9900,42.09,39880261.0,40.298889,41.190000,0,0,0
2018-02-15,45.065,45.1300,43.2600,44.08,71490591.0,40.648889,41.324444,0,0,0
2018-02-16,43.885,45.0900,43.7900,44.33,37915915.0,41.231111,41.448333,0,0,0
2018-02-20,44.000,44.6900,43.8100,44.06,26258211.0,41.663333,41.553333,1,0,1
2018-02-21,44.110,44.4200,43.2800,43.31,27128222.0,41.993333,41.631667,1,1,0
2018-02-22,43.490,43.5600,42.7500,42.94,25627449.0,42.461111,41.652778,1,1,0
2018-02-23,43.370,44.0400,42.9200,44.00,24855689.0,42.960000,41.716667,1,1,0
2018-02-26,44.300,45.4500,44.1300,45.36,27226705.0,43.488889,41.889444,1,1,0
2018-02-27,45.410,45.6100,44.6200,45.04,26887782.0,43.912222,42.083889,1,1,0
2018-02-28,45.270,45.8900,44.7800,44.78,26346609.0,44.211111,42.255000,1,1,0
2018-03-01,44.680,45.0000,43.3500,43.80,32154328.0,44.180000,42.414444,1,1,0
2018-03-02,43.290,44.2200,43.1000,44.06,28848064.0,44.150000,42.690556,1,1,0
2018-03-05,43.920,44.7650,43.7000,44.52,22101667.0,44.201111,42.932222,1,1,0
2018-03-06,44.650,44.7850,44.1350,44.29,21929955.0,44.310000,43.151667,1,1,0
2018-03-07,44.030,44.3900,43.8000,44.20,22034446.0,44.450000,43.455556,1,1,0
2018-03-08,44.250,44.4100,43.9350,44.34,19677672.0,44.487778,43.723889,1,1,0
2018-03-09,44.620,45.5400,44.6100,45.37,21633413.0,44.488889,43.988889,1,1,0
2018-03-12,45.530,45.8700,45.4000,45.55,17458907.0,44.545556,44.228889,1,1,0
2018-03-13,45.780,46.1600,44.9200,45.16,23081229.0,44.587778,44.399444,1,1,0
2018-03-14,45.340,45.7587,45.0900,45.28,20923845.0,44.752222,44.466111,1,1,0
2018-03-15,45.300,45.7350,45.1200,45.33,23338222.0,44.893333,44.521667,1,1,0
2018-03-16,45.330,45.6000,44.9700,45.01,52355707.0,44.947778,44.574444,1,1,0
2018-03-19,44.590,44.8200,43.9000,44.27,24524286.0,44.945556,44.627778,1,1,0
2018-03-20,44.490,44.6400,44.1800,44.37,22385001.0,44.964444,44.707222,1,1,0
2018-03-21,44.240,44.9000,44.1331,44.31,20616375.0,44.961111,44.724444,1,1,0
2018-03-22,43.760,44.0200,43.0200,43.07,29374734.0,44.705556,44.597222,1,1,0
2018-03-23,43.710,43.8400,42.4200,42.42,30674112.0,44.357778,44.451667,0,1,-1
2018-03-26,43.250,44.1600,42.8300,44.06,28454954.0,44.235556,44.411667,0,0,0
2018-03-27,44.490,44.5200,42.2400,42.68,30088447.0,43.946667,44.349444,0,0,0